.pokemon-search-bar{
    padding: 10px;
    margin: 20px;
  }

  .card-list{
    justify-content: center;
  }

  .form-container-grid{
  justify-content: center;
  }

  .pokemon-submit-button{
    margin-left: 10px;
    float: right;
  }